$unit: 'px'
aside
	display: none
.gr-row
	display: flex
	align-items: center
.search
	display: flex
	align-items: center
	padding: 10px 10px 20px
	&-form
		+w(100%)
		padding-top: 8px
		margin-right: 40px
		&:after
			+af
			+wh(100%,1px)
			background-color: rgba($underline,.2)
			margin-top: 7px
	&-input
		+w(100%)
		padding-left: 14px
		font-size: 12px

.block
	padding: 20px 10px 10px
	&-title
		font-family: $g_medium
		font-size: 18px
.project
	border-top-right-radius: 4px
	border-top-left-radius: 4px
	background-color: $bgc-dark
	&-url .gr-row
		padding: 5px
		border-radius: 4px
		background-color: #fff
	&-title
		span
			&:last-child
				margin-left: 5px
				font-family: $g_reg
				text-decoration: underline
	&-btn
		+w(30px)
		display: flex
		align-items: center
		justify-content: space-between
		padding: 5px
		margin-left: auto
		&:before,&:after,span
			+af
			+wh(4px)
			border-radius: 100%
			background-color: $text
	&-first
		position: relative
		padding-bottom: 8px
		margin-bottom: 8px
		&:after
			+af
			+wh(100%,1px)
			background-color: rgba($underline,.2)
			position: absolute
			bottom: 0
	&-url
		+w(100%)
		&-cont
			height: 0
			overflow: hidden
			flex-direction: column
			transition: .5s ease
		.gr-row
			justify-content: space-between
			margin-bottom: 8px
		span
			font-family: $f_book
			padding: 10px 0
			overflow: auto
			white-space: pre
		button
			padding: 7px 5px
			border-radius: 4px
			background-color: $orange
			font-family: $g_reg
			font-size: 12px
			color: #fff
#project
	display: none
	&:checked~.project-url-cont
		height: 230px

.framework
	padding: 20px 0 62px 10px
	background-color: $bgc-dark
	position: relative
	&-section
		overflow: hidden
	&-title
		+wh(100%,161px)
		border-bottom-left-radius: 12px
		padding: 15px 0 0 5px
		background-color: #FCFCFC
	&-service
		+w(calc(100% - 15px))
		padding-top: 2px
		padding-bottom: 70px
		border-bottom-left-radius: 12px
		overflow: auto
		position: absolute
		top: 77px
		left: 15px
		&:after
			+af
			height: 1px
			flex: 0 0 1px
		&-cont
			flex: 0 0 100px
			margin-right: 10px
			box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2)
			border-radius: 12px
			background-color: $service-card
		&-card
			width: 100%
			padding: 10px
			text-align: left
			color: $text
			border-radius: 12px
			background-color: $service-card
			.gr-row
				justify-content: space-between
		&-title
			font-family: $g_medium
			padding-top: 12px
		&-time
			white-space: pre
		&-button
			height: 25px
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 5px
			&:after,&:before,span
				+af
				+wh(3px)
				background-color: $text
				border-radius: 100%
	&-c
		background-color: #FEEEEE
		svg
			path
				fill: $red
	&-controll
		position: absolute
		bottom: 22px
		left: 15px
.controll
	&-button
		display: flex
		align-items: center
		padding: 5px 10px
		margin-right: 10px
		border-radius: 6px
		background-color: #fff
		box-shadow: 0 0 4px 0 rgba(#000,.32)
		&:last-child
			margin-right: 0
		svg
			margin-right: 8px

.team
	margin-top: 20px
	background-color: $bgc-dark
	border-radius: 4px 0 0 4px
	&-units
		padding: 6px 0 20px
		overflow: auto
		&:after
			+af
			height: 1px
			flex: 0 0 1px
	&-unit
		padding: 13px 16px
		border: 1px solid rgba(#000,.16)
		border-radius: 4px
		margin-right: 10px
		text-align: left
		font-family: $g_medium
		color: $text
		background-color: $bgc_light
		span
			display: block
			white-space: pre
			&:first-child
				font-size: 18px
			&:last-child
				font-family: $g_reg

.back
	padding: 15px 0
	&-button
		margin-left: 15px
		padding: 4px 22px
		border-radius: 6px
		background-color: $orange
		box-shadow: 0 0 4px 0 rgba(#000,.32)
		color: $white
		svg
			path
				fill: $white
				
.projects
	background-color: $bgc-dark
	border-radius: 4px
	&-first
		margin-bottom: 15px
	&-controll
		margin-left: auto
	&-row
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
	&-list
		max-height: calc(100vh - 136px)
		overflow: auto
	&-item
		background-color: $bgc-light
		border-radius: 4px
		border: 1px solid rgba($black,.12)
		margin-bottom: 15px
		padding: 15px 10px
		&:last-child
			margin-bottom: 0
		&-title
			position: relative
			padding-left: 7px
			flex: 0 0 100%
			a
				text-decoration: underline
			&:before
				+af
				+wh(2px,28px)
				background-color: #4266D2
				position: absolute
				top: 3px
				left: 0
		a.projects-item-button
			span
				color: $blue
		&:last-child
			.projects-buttons
				transform: translateY(-33%)
	&-item,&-card
		&-title
			a,span:last-child
				font-family: $g_reg
				font-size: 12px
				color: rgba($text,.6)
			span:first-child
				text-transform: uppercase
				font-family: $g_medium
				display: block
		&-info
			align-items: flex-start
			font-family: $g_medium
			svg
				position: relative
				top: 3px
				margin-right: 5px
			span
				display: block
				&:last-child
					font-family: $g_reg
					color: rgba($text,.6)
		&-button,&-info
			flex: 0 0 48%
			margin-right: 0
			margin-top: 10px
		&-button
			display: block
			text-align: center
	&-cards
		hr
			height: 1px
			border: none
			background-color: rgba($underline,.1)
			margin-top: 20px
		.projects-card-info:first-child
			span:last-child
				color: rgba($green,.8)
	&-buttons
		border-radius: 4px
		background-color: $bgc-light
		display: flex
		flex-direction: column
		width: 0px
		position: absolute
		right: 30px
		z-index: 90
		transition: .35s ease
		overflow: hidden
		border-color: transparent
		button
			width: 196px
			padding: 6px 30px
			margin-bottom: 13px
			background-color: $bgc-dark
			font-family: $g_medium
			text-align: left
			&:last-child
				margin-bottom: 0
	&-card
		flex: 0 0 100%
		background-color: #FCFCFC
		padding: 15px 10px
		margin-top: 10px
		position: relative
		&-button
		&-checkbox
			display: none
			&:checked~.projects-buttons
				border: 1px solid rgba($black,.12)
				width: 196px
			
		
	