$unit: 'px'

aside
	display: none

.gr-row
	display: flex
	align-items: center


.search
	display: flex
	align-items: center
	padding-top: 10px
	padding-bottom: 20px
	&-form
		+w(100%)
		padding-top: 8px
		margin-right: 40px
		&:after
			+af
			+wh(100%,1px)
			background-color: rgba($underline,.2)
			margin-top: 7px
	&-input
		+w(100%)
		padding-left: 14px
		font-size: 12px


.project
	font-family: $f_book
	padding: 20px 10px 10px
	border-top-right-radius: 5px
	border-top-left-radius: 5px
	background-color: $bgc-dark
	&-title,&-url .gr-row
		padding: 5px
		border-radius: 4px
		background-color: #fff
	&-title
		font-size: 18px
		span
			&:last-child
				margin-left: 5px
				font-family: $f_bold
	&-btn
		+w(30px)
		display: flex
		align-items: center
		justify-content: space-between
		padding: 5px
		margin-left: auto
		&:before,&:after,span
			+af
			+wh(4px)
			border-radius: 100%
			background-color: $text
	&-first
		position: relative
		padding-bottom: 8px
		margin-bottom: 8px
		&:after
			+af
			+wh(100%,1px)
			background-color: rgba($underline,.2)
			position: absolute
			bottom: 0
	&-url
		&-cont
			height: 0
			overflow: hidden
			flex-direction: column
			transition: .5s ease
	&-url
		+w(100%)
		.gr-row
			justify-content: space-between
			margin-bottom: 8px
		span
			padding: 10px 0
			overflow: auto
			white-space: pre
		button
			padding: 7px 5px
			border-radius: 4px
			background-color: $orange
			font-family: $g_reg
			font-size: 12px
			color: #fff
#project
	display: none
	&:checked~.project-url-cont
		height: 230px


.framework
	padding: 20px 0 62px 10px
	border-top-left-radius: 12px
	background-color: $bgc-light
	box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25)
	position: relative
	&-section
		padding-top: 10px
		margin-top: -10px
		overflow: hidden
	&-title
		+wh(100%,161px)
		border-bottom-left-radius: 12px
		padding: 15px 0 0 27px
		font-family: $g_medium
		font-size: 24px
		text-transform: uppercase
		background-color: #FCFCFC
	&-service
		+w(calc(100% - 23px))
		padding-top: 2px
		padding-bottom: 70px
		border-bottom-left-radius: 12px
		overflow: auto
		position: absolute
		top: 77px
		left: 23px
		&:after
			+af
			height: 1px
			flex: 0 0 1px
		&-cont
			flex: 0 0 100px
			margin-right: 10px
			box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2)
			border-radius: 12px
			background-color: $service-card
		&-card
			width: 100%
			padding: 10px
			text-align: left
			border-radius: 12px
			background-color: $service-card
			.gr-row
				justify-content: space-between
		&-title
			font-family: $g_medium
			padding-top: 12px
		&-time
			white-space: pre
		&-button
			height: 25px
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 5px
			&:after,&:before,span
				+af
				+wh(3px)
				background-color: $text
				border-radius: 100%
	&-controll
		position: absolute
		bottom: 22px
		left: 23px
		&-button
			display: flex
			align-items: center
			padding: 5px 10px
			margin-right: 10px
			border-radius: 6px
			background-color: #fff
			box-shadow: 0 0 4px 0 rgba(#000,.32)
			&:last-child
				margin-right: 0
			svg
				margin-right: 8px
	&-c
		background-color: #FEEEEE
		svg
			path
				fill: $red


.team
	margin-top: 20px
	padding-left: 13px
	padding-top: 12px
	background-color: $bgc-dark
	border-radius: 12px 0 0 12px
	&-title
		font-family: $f_bold
		font-size: 18px
		padding-left: 10px
	&-units
		padding: 6px 0 20px 10px
		overflow: auto
		&:after
			+af
			height: 1px
			flex: 0 0 1px
	&-unit
		padding: 13px 16px
		border: 1px solid rgba(#000,.16)
		border-radius: 12px
		box-shadow: 0 4px 10px 0 rgba(#000,.25)
		margin-right: 10px
		text-align: left
		font-family: $g_medium
		span
			display: block
			white-space: pre
			&:first-child
				font-size: 18px
			&:last-child
				font-family: $g_reg

.back
	padding: 15px 0
	&-button
		margin-left: 23px
		padding: 4px 22px
		border-radius: 6px
		background-color: #fff
		box-shadow: 0 0 4px 0 rgba(#000,.32)