aside.aside
	.mobile-row
		a(href='#').aside-logo
			+img('left_menu_logo.png')
		button.burger
			span
	.aside-body
		.aside-menu
			.aside-block
				h5.aside-block-title Management
				ul.aside-block-list
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M6.50007 0C4.30539 0 2.52626 1.68483 2.52626 3.76316C2.52626 5.05595 3.21465 6.19648 4.26325 6.87396C1.83229 7.71724 0.0812015 9.89569 0.000244567 12.4716C-0.00865872 12.7549 0.226629 12.9913 0.525774 12.9998C0.824919 13.0082 1.07464 12.7854 1.08354 12.5021C1.17035 9.74024 3.56225 7.52631 6.5 7.52631C9.43775 7.52631 11.8297 9.74024 11.9165 12.5021C11.9254 12.7854 12.1751 13.0082 12.4742 12.9998C12.7734 12.9913 13.0087 12.7549 12.9998 12.4716C12.9188 9.89572 11.1678 7.71729 8.73684 6.87399C9.78546 6.19652 10.4739 5.05597 10.4739 3.76316C10.4739 1.68483 8.69475 0 6.50007 0ZM3.61004 3.76316C3.61004 2.25163 4.90396 1.02632 6.50007 1.02632C8.09617 1.02632 9.39009 2.25163 9.39009 3.76316C9.39009 5.27468 8.09617 6.5 6.50007 6.5C4.90396 6.5 3.61004 5.27468 3.61004 3.76316Z" fill="white")
							span.aside-block-span Users
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M2.33328 3.47368C2.33328 1.55523 3.97649 0 6.00351 0C8.03054 0 9.67375 1.55523 9.67375 3.47368C9.67375 4.66705 9.03793 5.71986 8.06942 6.34523C10.3146 7.12366 11.9319 9.13451 12.0067 11.5122C12.0149 11.7737 11.7976 11.992 11.5213 11.9998C11.245 12.0076 11.0144 11.8019 11.0061 11.5404C10.926 8.99099 8.71678 6.94737 6.00345 6.94737C3.29012 6.94737 1.08094 8.99099 1.00077 11.5404C0.992548 11.8019 0.761902 12.0076 0.485609 11.9998C0.209316 11.992 -0.00799726 11.7737 0.000225884 11.5122C0.0749984 9.13448 1.69232 7.12361 3.93757 6.3452C2.96908 5.71983 2.33328 4.66703 2.33328 3.47368ZM6.00351 0.947368C4.52934 0.947368 3.33426 2.07843 3.33426 3.47368C3.33426 4.86894 4.52934 6 6.00351 6C7.47769 6 8.67276 4.86894 8.67276 3.47368C8.67276 2.07843 7.47769 0.947368 6.00351 0.947368Z" fill="white")
									path(d="M11.5356 3.47368C11.4371 3.47368 11.3405 3.48032 11.2462 3.49308C10.9726 3.53012 10.719 3.35021 10.6799 3.09124C10.6407 2.83227 10.8308 2.5923 11.1045 2.55526C11.2455 2.53616 11.3895 2.52631 11.5356 2.52631C13.2052 2.52631 14.5586 3.80726 14.5586 5.38737C14.5586 6.31947 14.0875 7.14687 13.3598 7.66888C14.9157 8.32895 16 9.80729 16 11.5263C16 11.7879 15.7759 12 15.4995 12C15.2231 12 14.999 11.7879 14.999 11.5263C14.999 10.0447 13.96 8.79153 12.5329 8.3862L12.1762 8.28491V7.22643L12.45 7.09477C13.1083 6.77819 13.5576 6.13202 13.5576 5.38737C13.5576 4.33046 12.6523 3.47368 11.5356 3.47368Z" fill="white")
							span.aside-block-span Teams
			.aside-block
				h5.aside-block-title Tech
				ul.aside-block-list
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M7.845 7.5C3.345 7.5 0 5.895 0 3.75C0 1.605 3.375 0 7.845 0C12.315 0 15.69 1.6125 15.69 3.75C15.69 5.8875 12.345 7.5 7.845 7.5ZM7.845 1.1325C3.885 1.1325 1.095 2.5125 1.095 3.7575C1.095 5.0025 3.855 6.375 7.845 6.375C11.835 6.375 14.595 4.995 14.595 3.7575C14.595 2.52 11.805 1.1325 7.845 1.1325Z" fill="white")
									path(d="M7.845 11.1451C5.66591 11.2188 3.50586 10.717 1.5825 9.69005C1.14247 9.47743 0.765256 9.1541 0.487832 8.75177C0.210409 8.34944 0.0423042 7.88192 0 7.39505C0.0432254 6.90651 0.212451 6.43755 0.49114 6.03397C0.769829 5.6304 1.14845 5.30603 1.59 5.09255C1.7157 5.02384 1.86267 5.00498 2.00164 5.03972C2.14062 5.07447 2.26142 5.16027 2.34 5.28005C2.41121 5.40446 2.43224 5.55137 2.39879 5.69076C2.36533 5.83015 2.27992 5.95151 2.16 6.03005C1.5 6.47255 1.095 6.94505 1.095 7.39505C1.095 7.84505 1.47 8.31755 2.1525 8.73755C3.90418 9.65828 5.86773 10.1007 7.845 10.0201C9.8122 10.0954 11.7647 9.65313 13.5075 8.73755C14.19 8.31755 14.595 7.84505 14.595 7.39505C14.595 6.94505 14.22 6.47255 13.5375 6.05255C13.4176 5.97401 13.3322 5.85265 13.2987 5.71326C13.2653 5.57387 13.2863 5.42696 13.3575 5.30255C13.4361 5.18277 13.5569 5.09697 13.6959 5.06222C13.8348 5.02748 13.9818 5.04634 14.1075 5.11505C14.5446 5.32757 14.9197 5.64889 15.1968 6.04816C15.474 6.44743 15.6438 6.91124 15.69 7.39505C15.6468 7.88359 15.4776 8.35256 15.1989 8.75613C14.9202 9.15971 14.5416 9.48408 14.1 9.69755C12.1777 10.7193 10.0208 11.2184 7.845 11.1451Z" fill="white")
									path(d="M7.845 14.7824C3.345 14.7824 0 13.1699 0 11.0324C0.0444726 10.5452 0.214276 10.0778 0.492897 9.67561C0.771517 9.27345 1.14947 8.95023 1.59 8.73741C1.71441 8.66619 1.86132 8.64517 2.00071 8.67862C2.1401 8.71207 2.26146 8.79748 2.34 8.91741C2.40943 9.04224 2.42945 9.18858 2.39612 9.32747C2.36278 9.46637 2.27852 9.58768 2.16 9.66741C1.5 10.1099 1.095 10.5899 1.095 11.0324C1.095 12.2774 3.855 13.6574 7.845 13.6574C11.835 13.6574 14.595 12.2774 14.595 11.0324C14.595 10.5899 14.22 10.1099 13.5375 9.69741C13.419 9.61768 13.3347 9.49637 13.3014 9.35747C13.2681 9.21858 13.2881 9.07224 13.3575 8.94741C13.436 8.82748 13.5574 8.74207 13.6968 8.70862C13.8362 8.67517 13.9831 8.69619 14.1075 8.76741C14.548 8.98023 14.926 9.30345 15.2046 9.70561C15.4832 10.1078 15.653 10.5752 15.6975 11.0624C15.69 13.1699 12.345 14.7824 7.845 14.7824Z" fill="white")
							span.aside-block-span Services
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M10.9875 8.01003H0.5625C0.41392 8.00809 0.271972 7.9482 0.1669 7.84313C0.0618294 7.73806 0.00194247 7.59611 0 7.44753V3.96753C0.00194247 3.81895 0.0618294 3.677 0.1669 3.57193C0.271972 3.46686 0.41392 3.40697 0.5625 3.40503H10.9875C11.1367 3.40503 11.2798 3.46429 11.3852 3.56978C11.4907 3.67527 11.55 3.81834 11.55 3.96753V7.44753C11.55 7.59671 11.4907 7.73979 11.3852 7.84528C11.2798 7.95077 11.1367 8.01003 10.9875 8.01003ZM1.125 6.88503H10.425V4.55253H1.125V6.88503Z" fill="white")
									path(d="M10.9875 15.105H0.5625C0.41392 15.1031 0.271972 15.0432 0.1669 14.9381C0.0618294 14.833 0.00194247 14.6911 0 14.5425V11.0625C0.00194247 10.9139 0.0618294 10.772 0.1669 10.6669C0.271972 10.5618 0.41392 10.5019 0.5625 10.5H10.9875C11.1367 10.5 11.2798 10.5593 11.3852 10.6648C11.4907 10.7702 11.55 10.9133 11.55 11.0625V14.5425C11.55 14.6917 11.4907 14.8348 11.3852 14.9402C11.2798 15.0457 11.1367 15.105 10.9875 15.105ZM1.125 13.98H10.425V11.625H1.125V13.98Z" fill="white")
									path(d="M15.1873 13.365H10.9873C10.8381 13.365 10.695 13.3057 10.5896 13.2002C10.4841 13.0948 10.4248 12.9517 10.4248 12.8025C10.4248 12.6533 10.4841 12.5102 10.5896 12.4048C10.695 12.2993 10.8381 12.24 10.9873 12.24H14.6248V0.5625C14.6248 0.413316 14.6841 0.270242 14.7896 0.164752C14.895 0.0592632 15.0381 0 15.1873 0C15.3365 0 15.4796 0.0592632 15.5851 0.164752C15.6905 0.270242 15.7498 0.413316 15.7498 0.5625V12.8025C15.7479 12.9511 15.688 13.093 15.5829 13.1981C15.4778 13.3032 15.3359 13.3631 15.1873 13.365Z" fill="white")
									path(d="M15.1873 6.27002H10.9873C10.8381 6.27002 10.695 6.21076 10.5896 6.10527C10.4841 5.99978 10.4248 5.8567 10.4248 5.70752C10.4248 5.55834 10.4841 5.41526 10.5896 5.30977C10.695 5.20428 10.8381 5.14502 10.9873 5.14502H15.1873C15.3365 5.14502 15.4796 5.20428 15.5851 5.30977C15.6905 5.41526 15.7498 5.55834 15.7498 5.70752C15.7498 5.8567 15.6905 5.99978 15.5851 6.10527C15.4796 6.21076 15.3365 6.27002 15.1873 6.27002Z" fill="white")
							span.aside-block-span Projects
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M3.49512 5.4375C3.80578 5.4375 4.05762 5.18566 4.05762 4.875C4.05762 4.56434 3.80578 4.3125 3.49512 4.3125C3.18446 4.3125 2.93262 4.56434 2.93262 4.875C2.93262 5.18566 3.18446 5.4375 3.49512 5.4375Z" fill="white")
									path(d="M5.93292 5.44513C5.81956 5.44661 5.70833 5.41425 5.61346 5.3522C5.51858 5.29014 5.44436 5.2012 5.40029 5.09674C5.35623 4.99229 5.34431 4.87707 5.36606 4.7658C5.38781 4.65454 5.44225 4.55229 5.52242 4.47213C5.60258 4.39196 5.70483 4.33752 5.81609 4.31577C5.92736 4.29401 6.04258 4.30593 6.14704 4.35C6.25149 4.39407 6.34043 4.46829 6.40249 4.56316C6.46455 4.65804 6.4969 4.76927 6.49542 4.88263C6.49348 5.03121 6.43359 5.17316 6.32852 5.27823C6.22345 5.3833 6.0815 5.44318 5.93292 5.44513Z" fill="white")
									path(d="M11.7451 5.4375H8.74512C8.59593 5.4375 8.45286 5.37824 8.34737 5.27275C8.24188 5.16726 8.18262 5.02418 8.18262 4.875C8.18262 4.72582 8.24188 4.58274 8.34737 4.47725C8.45286 4.37176 8.59593 4.3125 8.74512 4.3125H11.7451C11.8943 4.3125 12.0374 4.37176 12.1429 4.47725C12.2484 4.58274 12.3076 4.72582 12.3076 4.875C12.3076 5.02418 12.2484 5.16726 12.1429 5.27275C12.0374 5.37824 11.8943 5.4375 11.7451 5.4375Z" fill="white")
									path(d="M11.0396 15H3.98965C2.93663 14.996 1.92787 14.576 1.18326 13.8314C0.438662 13.0868 0.0185998 12.078 0.0146484 11.025V3.975C0.0185998 2.92198 0.438662 1.91322 1.18326 1.16862C1.92787 0.424014 2.93663 0.00395133 3.98965 0H11.0396C12.0927 0.00395133 13.1014 0.424014 13.846 1.16862C14.5906 1.91322 15.0107 2.92198 15.0146 3.975V11.025C15.0107 12.078 14.5906 13.0868 13.846 13.8314C13.1014 14.576 12.0927 14.996 11.0396 15ZM3.98965 1.11C3.2298 1.11 2.50108 1.41185 1.96379 1.94914C1.4265 2.48643 1.12465 3.21515 1.12465 3.975V11.025C1.12465 11.7848 1.4265 12.5136 1.96379 13.0509C2.50108 13.5882 3.2298 13.89 3.98965 13.89H11.0396C11.7995 13.89 12.5282 13.5882 13.0655 13.0509C13.6028 12.5136 13.9046 11.7848 13.9046 11.025V3.975C13.9046 3.21515 13.6028 2.48643 13.0655 1.94914C12.5282 1.41185 11.7995 1.11 11.0396 1.11H3.98965Z" fill="white")
									path(d="M3.49512 10.6875C3.80578 10.6875 4.05762 10.4357 4.05762 10.125C4.05762 9.81434 3.80578 9.5625 3.49512 9.5625C3.18446 9.5625 2.93262 9.81434 2.93262 10.125C2.93262 10.4357 3.18446 10.6875 3.49512 10.6875Z" fill="white")
									path(d="M5.93292 10.6949C5.81956 10.6964 5.70833 10.664 5.61346 10.602C5.51858 10.5399 5.44436 10.451 5.40029 10.3465C5.35623 10.242 5.34431 10.1268 5.36606 10.0156C5.38781 9.9043 5.44225 9.80205 5.52242 9.72188C5.60258 9.64172 5.70483 9.58728 5.81609 9.56552C5.92736 9.54377 6.04258 9.55569 6.14704 9.59976C6.25149 9.64383 6.34043 9.71804 6.40249 9.81292C6.46455 9.9078 6.4969 10.019 6.49542 10.1324C6.49348 10.281 6.43359 10.4229 6.32852 10.528C6.22345 10.6331 6.0815 10.6929 5.93292 10.6949Z" fill="white")
									path(d="M11.7451 10.6875H8.74512C8.59593 10.6875 8.45286 10.6282 8.34737 10.5227C8.24188 10.4173 8.18262 10.2742 8.18262 10.125C8.18262 9.97582 8.24188 9.83274 8.34737 9.72725C8.45286 9.62176 8.59593 9.5625 8.74512 9.5625H11.7451C11.8943 9.5625 12.0374 9.62176 12.1429 9.72725C12.2484 9.83274 12.3076 9.97582 12.3076 10.125C12.3076 10.2742 12.2484 10.4173 12.1429 10.5227C12.0374 10.6282 11.8943 10.6875 11.7451 10.6875Z" fill="white")
									path(d="M14.265 8.0625H0.5625C0.413316 8.0625 0.270242 8.00324 0.164752 7.89775C0.0592631 7.79226 0 7.64918 0 7.5C0 7.35082 0.0592631 7.20774 0.164752 7.10225C0.270242 6.99676 0.413316 6.9375 0.5625 6.9375H14.265C14.4142 6.9375 14.5573 6.99676 14.6627 7.10225C14.7682 7.20774 14.8275 7.35082 14.8275 7.5C14.8275 7.64918 14.7682 7.79226 14.6627 7.89775C14.5573 8.00324 14.4142 8.0625 14.265 8.0625Z" fill="white")
							span.aside-block-span Services
			.aside-block
				h5.aside-block-title Safety
				ul.aside-block-list
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M7.66895 7.61182C7.667 7.7604 7.60712 7.90235 7.50204 8.00742C7.39697 8.11249 7.25503 8.17237 7.10645 8.17432C6.95726 8.17432 6.81419 8.11505 6.7087 8.00956C6.60321 7.90408 6.54395 7.761 6.54395 7.61182L6.54395 1.41682C6.54393 1.26892 6.60216 1.12697 6.70604 1.0217C6.80991 0.91642 6.95106 0.856289 7.09894 0.854317C7.24883 0.854304 7.39268 0.913326 7.49937 1.01861C7.60605 1.12388 7.66697 1.26695 7.66895 1.41682L7.66895 7.60432L7.66895 7.61182Z" fill="white")
									path(d="M10.5484 3.46457C10.55 3.53866 10.5362 3.61228 10.5078 3.68073C10.4794 3.74918 10.437 3.81094 10.3834 3.86207C10.2779 3.96741 10.1349 4.02657 9.98587 4.02657C9.83681 4.02657 9.69384 3.96741 9.58837 3.86207L7.06837 1.34207L4.54837 3.88457C4.49666 3.93764 4.43485 3.97981 4.36658 4.00861C4.29831 4.03741 4.22497 4.05225 4.15087 4.05225C4.07678 4.05225 4.00343 4.03741 3.93516 4.00861C3.86689 3.97981 3.80508 3.93764 3.75337 3.88457C3.64803 3.7791 3.58887 3.63613 3.58887 3.48707C3.58887 3.33801 3.64803 3.19504 3.75337 3.08957L6.66337 0.164569C6.76884 0.0592311 6.91181 6.27973e-05 7.06087 6.27907e-05C7.20994 6.27842e-05 7.3529 0.0592311 7.45837 0.164569L10.3834 3.07457C10.4878 3.17765 10.5471 3.31787 10.5484 3.46457Z" fill="white")
									path(d="M13.8262 7.52194C13.8248 8.96349 13.3738 10.3687 12.5362 11.5419C11.465 13.0318 9.84593 14.0351 8.03503 14.3312C6.22413 14.6273 4.36979 14.1918 2.87993 13.1207C1.39008 12.0495 0.386759 10.4304 0.0906857 8.61953C-0.205387 6.80864 0.230042 4.95429 1.30119 3.46444C1.38753 3.35314 1.51249 3.27828 1.65136 3.25467C1.79024 3.23106 1.93291 3.26042 2.05119 3.33694C2.16397 3.4222 2.23996 3.54728 2.26365 3.68666C2.28735 3.82604 2.25696 3.9692 2.17868 4.08694C1.57261 4.93367 1.20642 5.92835 1.11879 6.96594C1.03115 8.00353 1.22532 9.04554 1.68079 9.98193C2.13626 10.9183 2.83613 11.7143 3.7065 12.286C4.57687 12.8576 5.58544 13.1835 6.62571 13.2295C7.66599 13.2754 8.69936 13.0396 9.61672 12.5469C10.5341 12.0542 11.3014 11.323 11.8376 10.4304C12.3738 9.53777 12.6591 8.51693 12.6632 7.47565C12.6674 6.43437 12.3903 5.41129 11.8612 4.51444C11.8183 4.4508 11.7889 4.37906 11.7747 4.30363C11.7606 4.2282 11.762 4.15067 11.779 4.07582C11.7959 4.00096 11.828 3.93037 11.8732 3.86838C11.9185 3.80639 11.9759 3.75432 12.0421 3.71536C12.1082 3.6764 12.1816 3.65139 12.2577 3.64186C12.3339 3.63233 12.4112 3.63848 12.4849 3.65994C12.5586 3.6814 12.6271 3.71771 12.6862 3.76663C12.7453 3.81556 12.7938 3.87607 12.8287 3.94444C13.4805 5.02397 13.8254 6.26089 13.8262 7.52194Z" fill="white")
							span.aside-block-span Backups
					li.aside-block-item
						a(href='#').aside-block-link
							.aside-block-icon
								svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M5.25205 8.95257C5.17384 8.95433 5.09612 8.93975 5.02387 8.90976C4.95162 8.87977 4.88643 8.83503 4.83246 8.7784L3.24913 7.19506C3.19268 7.13862 3.14819 7.07137 3.11832 6.99734C3.08845 6.92331 3.07382 6.84401 3.0753 6.7642C3.07678 6.68438 3.09433 6.60568 3.12692 6.53281C3.15951 6.45994 3.20646 6.39438 3.26496 6.34006L4.95913 4.67756C5.01631 4.62246 5.08378 4.57916 5.15769 4.55014C5.23161 4.52112 5.31051 4.50693 5.38991 4.5084C5.4693 4.50987 5.54763 4.52697 5.62042 4.55871C5.6932 4.59045 5.75903 4.63622 5.81413 4.6934C5.86923 4.75058 5.91253 4.81805 5.94155 4.89196C5.97058 4.96588 5.98476 5.04478 5.98329 5.12418C5.98182 5.20357 5.96472 5.2819 5.93298 5.35469C5.90124 5.42747 5.85547 5.4933 5.7983 5.5484L4.5158 6.79131L5.63996 7.9234C5.75115 8.03473 5.81361 8.18564 5.81361 8.34298C5.81361 8.50033 5.75115 8.65124 5.63996 8.76257C5.53958 8.873 5.40083 8.94095 5.25205 8.95257Z" fill="white")
									path(d="M9.27348 8.95243C9.19547 8.9528 9.11817 8.93758 9.04612 8.90767C8.97407 8.87776 8.90872 8.83377 8.8539 8.77826C8.74271 8.66693 8.68025 8.51602 8.68025 8.35868C8.68025 8.20133 8.74271 8.05042 8.8539 7.93909L10.0018 6.79118L8.72723 5.54826C8.67005 5.49108 8.62469 5.4232 8.59375 5.34849C8.5628 5.27378 8.54687 5.19371 8.54688 5.11284C8.54687 5.03198 8.5628 4.95191 8.59375 4.8772C8.62469 4.80249 8.67005 4.73461 8.72723 4.67743C8.84271 4.56195 8.99933 4.49707 9.16265 4.49707C9.24351 4.49707 9.32358 4.513 9.39829 4.54394C9.473 4.57489 9.54088 4.62025 9.59806 4.67743L11.2606 6.33993C11.3718 6.45126 11.4342 6.60217 11.4342 6.75951C11.4342 6.91685 11.3718 7.06777 11.2606 7.17909L9.67723 8.76243C9.57298 8.87654 9.42786 8.94484 9.27348 8.95243Z" fill="white")
									path(d="M7.28632 13.8529C6.18277 13.8451 5.09707 13.5736 4.11965 13.0613C3.98368 12.9872 3.88148 12.8637 3.8343 12.7162C3.78712 12.5688 3.79858 12.4088 3.86632 12.2696C3.93887 12.1322 4.06241 12.0287 4.21043 11.9813C4.35844 11.9339 4.51912 11.9465 4.65798 12.0163C5.79867 12.6028 7.10155 12.7949 8.36298 12.5625C9.37181 12.3634 10.3086 11.897 11.0755 11.2119C11.8424 10.5269 12.4111 9.64839 12.7222 8.66831C13.0334 7.68823 13.0755 6.64256 12.8443 5.64062C12.613 4.63868 12.1168 3.71727 11.4075 2.97273C10.6983 2.22819 9.80206 1.68786 8.81252 1.40824C7.82298 1.12861 6.7765 1.11996 5.78248 1.38319C4.78845 1.64642 3.8834 2.17186 3.16194 2.90458C2.44049 3.63729 1.92912 4.55037 1.68132 5.54835C1.32492 7.0292 1.56671 8.59085 2.35423 9.8946C2.42867 10.0269 2.44963 10.1826 2.41283 10.3298C2.37602 10.4771 2.28423 10.6046 2.15632 10.6863C2.02406 10.7607 1.86833 10.7817 1.7211 10.7449C1.57386 10.7081 1.44632 10.6163 1.36465 10.4883C0.786472 9.53237 0.448671 8.45047 0.380186 7.33535C0.311701 6.22022 0.514574 5.10512 0.971425 4.08557C1.42828 3.06602 2.12548 2.17243 3.00332 1.48134C3.88115 0.790254 4.91344 0.322281 6.01173 0.117514C7.81847 -0.219477 9.68507 0.175056 11.2009 1.21432C12.7168 2.25358 13.7577 3.85245 14.0947 5.65918C14.4316 7.46591 14.0371 9.33252 12.9978 10.8484C11.9586 12.3642 10.3597 13.4051 8.55298 13.7421C8.13459 13.8143 7.71089 13.8514 7.28632 13.8529Z" fill="white")
									path(d="M1.15111 14.2566C0.961315 14.2611 0.773458 14.2175 0.605061 14.1299C0.436664 14.0422 0.293212 13.9133 0.188084 13.7552C0.0829569 13.5971 0.0195783 13.415 0.00385989 13.2258C-0.0118585 13.0366 0.0205952 12.8465 0.0981943 12.6732L1.30944 9.96573C1.34025 9.89282 1.38551 9.82691 1.44249 9.77198C1.49948 9.71705 1.567 9.67423 1.64098 9.64612C1.71497 9.618 1.79389 9.60517 1.87297 9.6084C1.95205 9.61162 2.02966 9.63084 2.10111 9.66489C2.24547 9.73056 2.35807 9.85058 2.4144 9.99883C2.47074 10.1471 2.46626 10.3116 2.40194 10.4566L1.26986 13.0295L4.17528 11.9924C4.25001 11.9596 4.3307 11.9426 4.41231 11.9423C4.49392 11.9421 4.5747 11.9587 4.6496 11.9911C4.72451 12.0235 4.79193 12.071 4.84766 12.1306C4.90338 12.1903 4.94622 12.2607 4.9735 12.3376C5.00077 12.4146 5.0119 12.4963 5.00618 12.5777C5.00047 12.6591 4.97803 12.7385 4.94027 12.8108C4.90251 12.8832 4.85024 12.9469 4.78672 12.9982C4.72321 13.0494 4.64981 13.087 4.57111 13.1086L1.52319 14.1932C1.40409 14.2369 1.27797 14.2584 1.15111 14.2566Z" fill="white")
							span.aside-block-span F.A.Q.
		.aside-terms
			a(href='#').aside-terms-link
				span Terms & Conditions
			a(href='#').aside-terms-link
				span Privacy Policy
		button.aside-close
			span.aside-close-line
		.aside-copy
			span Copyright © 2020 — 2021
			span Developed by&nbsp;
				a(href='#').aside-copy-link DevCube


//return
//svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
//	path(d="M5.3125 7.96875L2.125 11.1562L5.3125 14.3438" stroke="white" stroke-linecap="round" stroke-linejoin="round")
//	path(d="M5.3125 3.71875H11.1562C12.1425 3.71875 13.0884 4.11055 13.7858 4.80795C14.4832 5.50535 14.875 6.45123 14.875 7.4375V7.43751C14.875 7.92586 14.7788 8.40943 14.5919 8.86061C14.405 9.31179 14.1311 9.72174 13.7858 10.0671C13.4405 10.4124 13.0305 10.6863 12.5794 10.8732C12.1282 11.0601 11.6446 11.1563 11.1563 11.1562H2.125" stroke="white" stroke-linecap="round" stroke-linejoin="round")





