.section.search
	form.search-form
		.gr-row
			button.search-button
				include ../../img/search.svg
			input(placeholder='Search').search-input
	button.messages
		.marker
		include ../../img/messages.svg
	button.bell
		.marker.active
		include ../../img/Bell.svg
	span.name Tomas Anderson
	button.logout
		include ../../img/logout.svg