extends template/main
append vars
	-
		page_title = 'Account'
block aside
	include parts/aside
block content
	main
		include parts/search-row
		.section.details.trial <!--.premium-->
			.details-aside
				h1.details-title.block-title
					span Account details
				ul.details-aside-list
					li.details-aside-item
						a(href='#').details-aside-button
							span Profile information
							span Personal information, E-mail, Mobile, Bio
					li.details-aside-item
						a(href='#').details-aside-button
							span Account settings
							span User Name, E-mail notification, plan settings
					li.details-aside-item
						a(href='#').details-aside-button
							span Password
							span Password change, account protection
					li.details-aside-item
						a(href='#').details-aside-button
							span Social profiles
							span Links to social networks, personal website and Git
					li.details-aside-item
						a(href='#').details-aside-button
							span Active session
							span Account login manage
					li.details-aside-item
						a(href='#').details-aside-button
							span Delete account
							span Delete account and account data
				a(href='#').trial.premium-offer
					span GO&nbsp;
					span PREMIUM
			.details-blocks
				h2.profile-title.details-block-title#ProfileInformation
					span Profile Information
				.details-block
					.profile-information
						.desktop-row.jcsb
							.row
								.profile-information-photo
									+img('profile-photo.jpg')
								.profile-information-info
									h5.profile-information-name
										span Tomas Anderson
									.profile-hint Update or manage your account
									.row
										button.button-orange
											+img('ArrowsClockwise.svg')
											span Upload new image
										button.button-orange.cancel
											span Delete
							.premium.status
								+img('star.svg')
								span Premium
							.trial.status
								span Trial
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title Name
							.add-input-row
								input(type='text' value='Tomas' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Surname
							.add-input-row
								input(type='text' value='Anderson' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title E-mail
							.add-input-row
								input(type='text' value='t.anderson@devcube.com' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Mobile
							.add-input-row
								input(type='text' value='+77714445566' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title Bio
							.add-input-row
								textarea( value='t.anderson@devcube.com' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
				h2.profile-title.details-block-title#AccountSettings
					span Account Settings
				.details-block
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title User Name
							.add-input-row
								input(type='text' value='tomasanderson' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title E-mail notification
							.profile-checkboxes
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Invites me to joint project ownership
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Update notifications
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Invites me to joint project ownership
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Update notifications
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Invites me to joint project ownership
								.profile-checkbox
									label.profile-label
										input(type='checkbox')
										div
										span Update notifications
					form.profile-form.profile-card-block.desktop-row
						.profile-tariff
							.add-row
								h5.add-title Plan settings
							.row
								h5.profile-title
									span Your tariff plan:&nbsp;
									strong.premium PREMIUM
									strong.trial Trial
							.row
								a(href='/services.html').tariff-link See the possibilities
							.row.premium
								span.tariff-payInformation The tariff is paid before: 05/29/2021
							.row.premium
								a(href='/payment-history.html').tariff-link Payment history
							.row.premium
								button.button-orange
									span Renew
								button.button-orange.cancel
									span Unsubscribe
							.row.trial
								button.button-orange.premium-button
									span Go premium
						.profile-card.row
							.card.card-main
								.card-logo
									+img('mastercard.png')
								.card-text
									span.card-numbers
										+img('dots.png')
										|1289
								.card-date
									span 09/25
								.card-bgc
								.card-name
									span Main
								button.card-delete
									+img('close.svg')
							.card.card-additional
								.card-logo
								.card-text
									a(href='#')
										span Add Adittional
										span Credit Card
								.card-date
									span 00/00
								.card-bgc
								.card-name
									span Additional
								button.card-delete
									+img('close.svg')
				h2.profile-title.details-block-title#Password
					span Password
				.details-block
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title Old password
							.add-input-row
								input(type='password' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title New password
							.add-input-row
								input(type='password' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
				h2.profile-title.details-block-title#SocialProfiles
					span Social Profiles
				.details-block
					form.profile-form
						.profile-form-block.add-block
							.add-row
								h5.add-title Apple ID
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Google
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Facebook
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Linkedin
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title Discord
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title GitHub
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-form-block.add-block
							.add-row
								h5.add-title CodePen
							.add-input-row
								input(type='text' value='link.to/url' disabled).add-input
						.profile-button.row
							.profile-button-block.active
								button(type='button').profile-edit.button-orange
									span Edit
							.profile-button-block.row
								button.button-orange
									span Save
								button.button-orange.cancel
									span Cancel
				h2.profile-title.details-block-title#ActiveSession
					span Active Session
				.details-block
					ul.profile-sessions
						li.profile-session
							.desktop-row
								.session-block
									h6.session-title
										span Current session
									span.session-source Windows, Chrome
									span.session-details 193.41.131.162 Utah, USA
								.session-block
									span 21 March
									span 11:19 AM
									span Sunday
								.session-block.session-button
									button.button-orange
										span Terminate
						li.profile-session
							.desktop-row
								.session-block
									h6.session-title
										span Current session
									span.session-source Windows, Chrome
									span.session-details 193.41.131.162 Utah, USA
								.session-block
									span 21 March
									span 11:19 AM
									span Sunday
								.session-block.session-button
									button.button-orange
										span Terminate
						li.profile-session
							.desktop-row
								.session-block
									h6.session-title
										span Current session
									span.session-source Windows, Chrome
									span.session-details 193.41.131.162 Utah, USA
								.session-block
									span 21 March
									span 11:19 AM
									span Sunday
								.session-block.session-button
									button.button-orange
										span Terminate
					button.session-terminate
						span Terminate all other sessions
				h2.profile-title.details-block-title#DeleteAccount
					span Delete Account
				.details-block
					p.details-desc Want to delete your account? This account is in two groups and has three projects. Deleting an account will delete all of its contents and all associated data.
					button.button-orange
						span Delete
				.minilogo
					a(href='#')
						+img('minilogo.png')
		.cardAdd <!--active-->
			form.cardAdd-inner
				.desktop-row
					h2.profile-title
						span Add main card
					.cardAdd-type.row
						input(type='radio' name='card-type' checked)#visa
						label(for='visa')
							+img('Visa.svg')
						input(type='radio' name='card-type')#mastercard
						label(for='mastercard')
							+img('Mastercard.svg')
						input(type='radio' name='card-type')#jbc
						label(for='jbc')
							+img('JCB.svg')
						input(type='radio' name='card-type')#discover
						label(for='discover')
							+img('Discover.svg')
				.desktop-row
					.cardAdd-left
						.cardAdd-input-inner
							.cardAdd-input-block
								span Card number
								input(type='text')
							.cardAdd-input-row
								.cardAdd-input-block
									span Name and surname on the card
									input(type='text')
								.cardAdd-input-block
									span MM/YY
									input(type='text')
						.cardAdd-bgc
							+img('cardAdd-left.png')
					.cardAdd-right
						.cardAdd-input-inner
							.cardAdd-input-block
								span CVV
								input(type='text')
						.cardAdd-bgc
							+img('cardAdd-right.png')
				span.cardAdd-note *Information about your payment methods is stored securely.
				.row
					button.button-orange Save
					button(type='button').button-orange.cancel Cancel
		.context <!--active-->
			.row
				.context-icon
					include ../img/info_outline.svg
				.context-text
					p Removing payment method "Master Card • 1289".
				.context-close
					button.log-close.error-close