extends template/main
append vars
	-
		page_title= 'Console'
block aside
	include parts/aside
block content
	main
		.section.search
			form.search-form
				.gr-row
					button.search-button
						include ../img/search.svg
					input(placeholder='Search').search-input
			button.logout
				include ../img/logout.svg
		.section.console
			.history
				h4.block-title.console-title
					span History
				ul.history-list
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
			.console-output
				.console-title
					h4.block-title
						span Console Output
					a(href='#').console-button Back
					a(href='console-full.html').console-button Open in new tab
				.console-area
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					