extends template/main
append vars
	-
		page_title= 'Console'
block aside
	include parts/aside
block content
	main
		include parts/search-row
		.section.console.console-full
			.console-output
				.console-title
					h4.block-title
						span Console Output
					a(href='#').button-orange Back
				.console-area 
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})