extends template/main
append vars
	-
		page_title= 'Console'
block aside
	include parts/aside
block content
	main
		include parts/search-row
		.section.console
			.history
				h4.block-title.console-title
					span History
				ul.history-list
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
					li.list-item
						.item-circle
						.item-number #14
						.item-date Dec 3, 2020 01:26 PM
			.console-output
				.console-title
					h4.block-title
						span Console Output
					a(href='#').console-button.button-orange Back
					a(href='console-full.html').console-button.button-orange Open in new tab
				.console-area
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					