extends template/main
append vars
	-
		page_title= 'Console'
block aside
	aside
		+img('menu.png')
block content
	main
		.section.search
			form.search-form
				.gr-row
					button.search-button
						include ../img/search.svg
					input(placeholder='Search').search-input
			button.logout
				include ../img/logout.svg
		.section.console.console-full
			.console-output
				.console-title
					h4.block-title
						span Console Output
					a(href='#').console-button Back
				.console-area 
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})span console.log(user)
					span console.log({user})
					span console.log(user)
					span console.log({user})