extends template/main
append vars
	-
		page_title= 'Contacts Groups'
block aside
	include parts/aside
block content
	main
		input(type='checkbox')#contAdd
		.section.search
			form.search-form
				.gr-row
					button.search-button
						include ../img/search.svg
					input(placeholder='Search').search-input
			button.logout
				include ../img/logout.svg
		.section.contacts
			.console-title
				h4.block-title
					span Contacts Group
				label(for='contAdd').console-button.contacts-button
					svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M6 10.5C8.48528 10.5 10.5 8.48528 10.5 6C10.5 3.51472 8.48528 1.5 6 1.5C3.51472 1.5 1.5 3.51472 1.5 6C1.5 8.48528 3.51472 10.5 6 10.5Z" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
						path(d="M4.125 6H7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
						path(d="M6 4.125V7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
					span Add Contacts Group
			.contacts-add
				form
					.add-cont
						.add-col.add-col-first
							.add-block
								.add-row
									h5.add-title Group Name
									span.add-star *
								.add-input-row
									input(type='text').add-input
							.add-block
								.add-row
									h5.add-title E-mail
									span.add-star *
								.add-input-row
									input(type='text').add-input
									.indicator.accept
							.add-block
								.add-row
									h5.add-title E-mail
								.add-input-row
									input(type='text').add-input
									.indicator.decline
							.add-block
								.add-row
									h5.add-title E-mail
								.add-input-row
									input(type='text').add-input
									button(data-info='email').add-plus
										svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M6 10.5C8.48528 10.5 10.5 8.48528 10.5 6C10.5 3.51472 8.48528 1.5 6 1.5C3.51472 1.5 1.5 3.51472 1.5 6C1.5 8.48528 3.51472 10.5 6 10.5Z" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
											path(d="M4.125 6H7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
											path(d="M6 4.125V7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
						.add-col.add-col-last
							.add-block
								.add-row
									h5.add-title Slack token
									span.add-star *
								.add-input-row
									input(type='text' placeholder='erg43h5475ithfe534y435y45u6j3443ggg54h64j6j56').add-input
							.add-block
								.add-row
									h5.add-title Channel
								.add-input-row
									input(type='text').add-input
									.indicator.decline
							.add-block
								.add-row
									h5.add-title Slack token
									span.add-star *
								.add-input-row
									input(type='text' placeholder='erg43h5475ithfe534y435y45u6j3443ggg54h64j6j56').add-input
							.add-block
								.add-row
									h5.add-title Channel
								.add-input-row
									input(type='text').add-input
									button.add-plus
										svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M6 10.5C8.48528 10.5 10.5 8.48528 10.5 6C10.5 3.51472 8.48528 1.5 6 1.5C3.51472 1.5 1.5 3.51472 1.5 6C1.5 8.48528 3.51472 10.5 6 10.5Z" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
											path(d="M4.125 6H7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
											path(d="M6 4.125V7.875" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
					.add-btns
						button.console-button.add-button Save
						button.console-button.add-button.cancel Cancel
			.contacts-head
				.contacts-item
					.col
						span Number of people
					.col
						span Group Name
					.col
						span Add Time
					.col
						span Actions
			ul.contacts-list
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item
				include parts/contacts-item