extends template/main
append vars
	-
		page_title= 'Project'
block aside
	include parts/aside
block content
	main
		include parts/search-row
		.section.project.block
			input(type='checkbox')#project
			.gr-row.project-first
				h4.project-title.block-title
					span Project name:
					span tempfordesign
				a(href='console.html').history-button History
				label(for='project').project-btn
					span
			.gr-row.project-url-cont
				.project-url
					.gr-row
						span Project URL: https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/
						button.button-orange Copy
					.gr-row
						span $ git clone http://gogs.apps.mydevcube.com/dmo/tempfordesign.git
						button.button-orange Copy
				.project-url
					.gr-row
						span Project URL: https://dmo.apps.mydevcube.com/tempfordesign/site/www
						button.button-orange Copy
					.gr-row
						span $ git clone http://gogs.apps.mydevcube.com/dmo/tempfordesign.git
						button.button-orange Copy
				.project-add-row
					.project-add-block
						.project-add-title Database
						input(type='text').project-add-input
					.project-add-block
						.project-add-title User
						input(type='text').project-add-input
					.project-add-block
						.project-add-title Password
						input(type='text').project-add-input
					.project-add-block
						.project-add-title Host
						input(type='text').project-add-input
					.project-add-block
						.project-add-title Part
						input(type='text').project-add-input
		.section.framework-section
			.framework
				.gr-row
					h1.framework-title.block-title Live
				.gr-row.framework-service
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title MySQL
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card.framework-c
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title C++
							span.framework-service-time no data
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title phpMyAdmin
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title Perl
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title python
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title WWW
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title WWW
							span.framework-service-time 16 hours
				.gr-row.controll.framework-controll
					button.controll-button
						include ../img/stop.svg
						span Stop
					button.controll-button
						include ../img/play.svg
						span Start
					button.controll-button
						include ../img/repeat.svg
						span Restart
					.project-select-cont
						+img('coins.svg').project-coins
						.project-select
							button.project-select-head
								span
								+img('arrow-bottom.svg')
							input(type='hidden')
							.project-select-body
								button(data-value='alpha').project-select-option.active Alpha
									span
								button(data-value='beta').project-select-option Beta
									span
								button(data-value='gamma').project-select-option Gamma
									span
								button(data-value='delta').project-select-option Delta
									span
								button(data-value='omega').project-select-option Omega
									span
				.project-url.framework-url
					.gr-row
						span Project URL: https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/
						button.button-orange Copy
		.section.team.block
			.gr-row.team-first
				h3.team-title.block-title Team
			.gr-row.team-units
				button.team-unit
					span Sheldon Cooper
					span Development
				button.team-unit
					span Asdrubael Vect
					span Development
				button.team-unit
					span Louie Anderson
					span Assistant
				button.team-unit
					span Bobby Axelrod
					span Awesome dude
				button.team-unit
					span Asdrubael Vect
					span Development
		.section.back
			.gr-row
				a(href='projects.html').back-button.button-orange
					include ../img/back-icon.svg
					span Back