extends template/main
append vars
	-
		page_title= 'Main'
block aside
	aside
		+img('menu.png')
block content
	main
		.section.search
			form.search-form
				.gr-row
					button.search-button
						include ../img/search.svg
					input(placeholder='Search').search-input
			button.logout
				include ../img/logout.svg
		.section.project.block
			input(type='checkbox')#project
			.gr-row.project-first
				h4.project-title.block-title
					span Project name:
					span tempfordesign
				a(href='console.html').history-button History
				label(for='project').project-btn
					span
			.gr-row.project-url-cont
				.project-url
					.gr-row
						span Project URL: https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/https://dmo.apps.mydevcube.com/tempfordesign/site/
						button Copy
					.gr-row
						span $ git clone http://gogs.apps.mydevcube.com/dmo/tempfordesign.git
						button Copy
				.project-url
					.gr-row
						span Project URL: https://dmo.apps.mydevcube.com/tempfordesign/site/www
						button Copy
					.gr-row
						span $ git clone http://gogs.apps.mydevcube.com/dmo/tempfordesign.git
						button Copy
		.section.framework-section
			.framework
				.gr-row
					h1.framework-title.block-title Enviroment
				.gr-row.framework-service
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title MySQL
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card.framework-c
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title C++
							span.framework-service-time no data
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title phpMyAdmin
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title Perl
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title python
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title WWW
							span.framework-service-time 16 hours
					.framework-service-cont
						button.framework-service-card
							.gr-row
								include ../img/framwork.svg
								.framework-service-button
									span
							h4.framework-service-title WWW
							span.framework-service-time 16 hours
				.gr-row.controll.framework-controll
					button.controll-button
						include ../img/stop.svg
						span Stop
					button.controll-button
						include ../img/play.svg
						span Start
					button.controll-button
						include ../img/repeat.svg
						span Restart
		.section.team.block
			.gr-row.team-first
				h3.team-title.block-title Team
			.gr-row.team-units
				button.team-unit
					span Sheldon Cooper
					span Development
				button.team-unit
					span Asdrubael Vect
					span Development
				button.team-unit
					span Louie Anderson
					span Assistant
				button.team-unit
					span Bobby Axelrod
					span Awesome dude
				button.team-unit
					span Asdrubael Vect
					span Development
		.section.back
			.gr-row
				a(href='projects.html').back-button
					include ../img/back-icon.svg
					span Back